.side-button .w3-button a {
  border: solid 1px black;
}
.container {
  margin-left: 15%;
  text-align: left;
  width: 70%;
}
.Table {
  margin-right: 0%;
    margin-left: 15%;
  width: 80%;
  margin-left: 12%;
  height: auto;
  position: relative;
  scroll-behavior: smooth;
  
}
.Table table {
  overflow: hidden;
  margin-left: 15%;
  border-collapse: collapse;
  height: 100px;
  width: 100%;
  scroll-behavior: smooth;
}
.Table table {
    border-spacing: 0;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.center {
  text-align: center;
}

.container table,
th {
    text-align: center;height: 45px;
    
}


.container tr,
td {
  margin: auto;
  margin-right: auto;
}
table, td, th {
    border: 1px solid;
    border-width:0.75px;
  }
  
.table a {
  text-decoration: none;
}
.table img {
  margin: auto;
  margin-right: auto;
  height: 80px;
}
.table td {
  text-align: center;
  width: 10%;
  
}
.avt {
  width: 15px;
}
.sidebar {
  margin: auto;
  margin-right: 5px;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: relative;
  height: 1000px;;
  overflow: auto;
  float: left;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
