/* .img-signup{
    margin: auto;
    width: 170px;
    height: 270px;
    height: 45px;
    display: block;
    overflow: hidden;
    
} */

.input-container {
    /* IE10 */
    display: contents;
    width:50%;    
    text-align: left;
    margin-left: 25%;
    
    
  }
 
  .Signup_form form{
    margin: auto;
    
    justify-content: center;
    width: 49.99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 500px;
    border: solid 1px black;
    display: inline-block;
    position: relative;
    
      }
      .Signup_form input{
          text-align: center;
          margin-left: auto;
          margin-bottom: 15px;
          padding: 5px;
          width: 50%;
                    
      }
      .Signup_form label{
          text-align: left;
          margin-bottom: 15px;
          
        
        
    }
    .Signup_form button{
        text-align: center;
      padding: 10px 15px 10px;
      margin-right: 50px;
      
      
      
  }
    .Signup_form_img{
      display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 75px;
  
    margin: auto;
  text-align: center;
    }
  
 
  .input-field {
    width: 50%;
    padding: 10px;
    outline: none;
    text-align: center;
    margin: auto;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
 
  .btn:hover {
    opacity: 1;
  }
  .container-left{
    display: block;
    width: 49.70%;
    height: 500px;
    color: #bf4c4c;
    border: 1px solid black;
    float: left;    
    position: relative;
  }
  .side-button .w3-button a {
    border: solid 1px black;
  }
  .container {
    margin-left: 12%;
    text-align: left;
    width: 70%;
  }
  .Table {
    width: 100%;
    height: auto;
    position: relative;
    scroll-behavior: smooth;
  }
  .Table table {
    overflow: hidden;
    border-collapse: collapse;
    height: 100px;
    width: 85%;
    scroll-behavior: smooth;
  }
  .center {
    text-align: center;
  }
  
  .container table,
  th {
      text-align: center;height: 45px;
      
  }
  
  
  .container tr,
  td {
    margin: auto;
    margin-right: auto;
  }
  table, td, th {
      border: 1px solid;
      border-width:0.75px;
    }
    
  .table a {
    text-decoration: none;
  }
  .table img {
    margin: auto;
    margin-right: auto;
    height: 80px;
  }
  .table td {
    text-align: center;
    width: 10%;
    
  }
  .avt {
    width: 15px;
  }
  .sidebar {
    margin: auto;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: relative;
    height: 1000px;;
    overflow: auto;
    float: left;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;    
    
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

.header img{
    width: 140px;
    margin-right: 10px;
    float: left;
}